body.active_admin {
  nav.pagination {
    @extend .c-pagination;

    float: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    span > a {
      background: transparent;
      background-image: none;
      border: 0 none;
      box-shadow: none;
      color: initial;
      cursor: pointer;
      padding: 6px 10px;
      margin: 0 auto;
      text-shadow: none;
    }

    a:hover, span:hover > a {
      background: transparent;
      background-image: none;
      color: #888;
      text-shadow: none;
    }

    .first, .prev, .next, .last {
      display: inline-block;
      margin-right: 2px;
      padding: 0;
    }

    .prev {
      margin-right: 16px;
    }

    .next {
      margin-left: 14px;
    }

    .page {
      display: inline-block;
      margin-right: 2px;
      padding: 0;
      &.current {
        background-color: transparent;
        background-image: none;
        border-radius: 20px;
        color: #000;
        padding: 6px 10px;
        text-shadow: none;
      }
      &.current:hover {
        background-color: transparent;
        background-image: none;
      }
      &.gap {
        border: 0 none;
      }
      &.gap:hover {
        background-color: transparent;
        color: initial;
        cursor: default;
      }
    }
  }
}
